name: Build and test truthdb

on:
  push:
    branches:
      - main
    tags:
      - 'v*.*.*'

jobs:
    validate-pr:
        uses: ./.github/workflows/build-test-truthdb.yml
        with:
          publish_artifact: true
    